* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;  
    padding: 0;
    background-color: #3B1C32;
}

header {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav button {
    background-color: #f8b400;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}

.book-item {
    border: 1px solid #fff;
    border-radius: 8px;
    width: 220px;
    background-color: #000000;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.217);
    transition: transform 0.2s;
}

.book-item:hover {
    transform: scale(1.05);
}

.book-item img {
    max-width: 100%;
    border-bottom: 1px solid #ffffff;
}

.book-item h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.book-item p {
    color: #666;
}

.book-item button {
    background-color:   #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

#cart {
    display: none;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 300px;
    border: 1px solid #ddd;
    background-color: #A64D79;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#cart h2 {
    margin-top: 0;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    border-bottom: 1px solid #ffffff;
    padding: 0.5rem 0;
}
.TXT-COLOR{
    color: #ffffff;
}